.card-list {
  width: 90vw;
  /* align-items: center; */
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  grid-gap: 20px;
}
